body {
    margin: 0;
    }
.header {
    background-image: url(back.jpg);
    background-size: cover;
    height: 100vh;
}
.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 86px;
    font-weight: 700;
    font-size: 34px;
    margin-top: 34px;
    font-family: 'Roboto', sans-serif;
}
.nav-item:last-child {
    margin-right: 0px;
}
.nav {
    display: flex;
    justify-content: center;
}
.title {
   color: white;
   font-size: 75px;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   width: 1050px;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 225px;
}