body {
    margin: 0;
    }
.header {
    background-image: url(back.jpg);
    background-size: cover;
    height: 100vh;
}
.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 86px;
    font-weight: 700;
    font-size: 34px;
    margin-top: 34px;
    font-family: 'Roboto', sans-serif;
}
.nav-item:last-child {
    margin-right: 0px;
}
.nav {
    display: flex;
    justify-content: center;
}
.title {
   color: white;
   font-size: 75px;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
   width: 1050px;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 225px;
}
.subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 51px;
    font-weight: 900;
    width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    line-height: 44px;
    margin-top: 88px;
}
.input {
    width: 447px;
    height: 67px;
    font-size: 24px;
    outline: none;
    border: 4px solid #E9E9E9;
    border-radius: 20px;
}
.forma {
    text-align: center;
    margin-top: 45px;
}